.articleContainer {
    padding-inline: 2rem;

    .backLink {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 600;

        .backLinkIcon {
            transition: transform 0.3s ease-in-out;
        }

        &:hover {

            .backLinkIcon {
                transform: translateX(-0.5rem);
            }
        }
    }
}