.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #363636;
    font-size: 0.875rem;
    font-weight: 700;
    transition: all 0.3s ease;

    .iconMoveRight {
        transition: all 0.3s ease;
    }

    &:hover {
        color: #000;
        .iconMoveRight {
            transform: translateX(0.25rem);
        }
    }
}