.loading {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.articlesListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 3rem 3rem;
    justify-items: center;
}